* {
    font-size: 14px;
    font-family: '微软雅黑', '黑体', sans-serif, '宋体', serif;
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

input {
    background-color: transparent;
    border: none;
    color: white;
}

input::-webkit-input-placeholder { /* WebKit browsers */
    color: white;
}

input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: white;
}

input::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: white;
}

input:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: white;
}

span {
    color: white;
}

.wrap {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    zoom: 1;
    background: url("../images/background.png") no-repeat center 0;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
}

.header {
    margin-top: 77px;
    width: 100%;
    height: 66px;
}

.header .logo {
    width: 202px;
    height: 66px;
    background: url("../images/logo.png") center no-repeat;
    float: left;
    margin-left: 35%;
}

.header .title {
    float: left;
    margin-left: 37px;
    height: 100%;
    font-size: 42px;
    font-weight: bold;
    line-height: 66px;
    color: #ffffff;
}

.main {
    width: 415px;
    height: 410px;
    margin-left: 35%;
    margin-top: 82px;
    background: url("../images/login-background.png") center no-repeat;
}

.main .content {
    padding-top: 118px;
    padding-left: 47px;
    width: 297px;
    height: 185px;
}

.main .content .content-row {
    width: 249px;
    height: 32px;
    margin-top: 19px;
}

.main .content .content-line {
    width: 249px;
    border: solid 1px #5b9a95;
}

.footer {
    position: absolute;
    bottom: 5px;
    text-align: center;
    width: 100%;
    height: 30px;
    line-height: 30px;
    color: #ffffff;
}

.login-icon {
    color: #00ccbb;
    font-size: 24px;
}

.login {
    width: 245px;
    height: 39px;
    background-color: #02ab9d;
    border-radius: 20px;
    color: white;
    cursor: pointer;
}



